body {
  margin: 0;
  height: 100%;
  background: rgb(53, 50, 50);
  color: white;
  font-family: Verdana, sans-serif;
}
header {
  align-content: center;
  text-align: center;
  height: 100px;
  background: rgb(34, 33, 33);
}
h1 {
  margin: 0;
}
main {
  text-align: center;
  padding: 20px;
  margin: 5px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10% 12%;
  background-color: #444;
}
img {
  border-radius: 25% 10%;
}
footer {
  align-content: center;
  text-align: center;
  height: 100px;
  background: rgb(34, 33, 33);
}
